html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/bg_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.comingSoon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comingSoon__senaLogo {
  max-width: 100px;
  margin: 0 2rem;
}
.comingSoon__senaLogo img {
  width: 100px;
}
.comingSoon__body {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #59595B;
}
.comingSoon__body::before {
  content: "";
  position: absolute;
  top: 20%;
  right: 0;
  transform: translateY(-20%);
  width: 45%;
  height: 2px;
  background-color: #59595B;
}
.comingSoon__body::after {
  content: "";
  position: absolute;
  bottom: -5%;
  right: 0;
  transform: translateY(0);
  width: 92%;
  height: 2px;
  background-color: #59595B;
}
.comingSoon__body--light {
  font-weight: 300;
  font-size: 20pt;
  margin: 0 !important;
}
.comingSoon__body--bold {
  font-weight: 800;
  font-size: 50pt;
  margin: 0 !important;
}

@media (max-width: 600px) {
  .comingSoon {
    flex-direction: column;
    align-items: center;
  }
  .comingSoon__senaLogo {
    margin-bottom: 2rem;
  }
  .comingSoon__body--light {
    font-weight: 300;
    font-size: 15pt;
    margin: 0 !important;
  }
  .comingSoon__body--bold {
    font-weight: 800;
    font-size: 40pt;
    margin: 0 !important;
  }
}